.mainProductsMain {
  display: flex !important;
  flex-wrap: wrap !important;
  position: relative !important;
  row-gap: 20px !important;
  justify-content: space-around !important;
  max-width: 1000px !important;
}
.mainProductsMain .featueProductsCard1 {
  align-items: center !important;
}

@media (min-width: 1022px) {
  .goBackMain {
    left: 30px !important;
    top: 20px !important;
    position: absolute !important;
  }
}
img {
  mix-blend-mode: darken;
}