.MainAboutUS {
  margin: auto !important;
  padding: 80px 0px 41px 121px !important;
  background-size: cover !important;
  height: 520px !important;
  position: relative;
  background-repeat: no-repeat;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  /* padding-top: 50px !important; */
  /* width: 1270px !important; */
}
@media (max-width: 900px) {
  .MainAboutUS {
    margin: auto !important;
    padding: 90px 10px 20px 60px !important;
    background-size: cover !important;
    height: 530px !important;
    background-repeat: no-repeat;
    color: #fff !important;

    /* width: 1270px !important; */
  }
}

@media (max-width: 600px) {
  .MainAboutUS {
    margin: auto !important;
    padding: 60px 5px 20px 30px !important;
    background-size: cover !important;
    height: 500px !important;
    background-repeat: no-repeat;
    color: #fff !important;

    /* width: 1270px !important; */
  }
  .imagesaboutussa {
    max-height: 150px;
  }
}
@media (max-width: 400px) {
  .imagesaboutussa {
    max-height: 120px;
  }
}
.titleheaderabout {
  height: 56px;
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}
.textabout {
  max-width: 779px !important;
  min-height: 96px !important;
  margin-top: 12px !important;
  opacity: 0.7 !important;
  /* font-family: 'Jost !important; */
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 26px !important;
  margin-bottom: 10px !important;
  line-height: 32px !important;
}
.ImagesAboutUs {
  display: flex !important;
  height: 296px !important;
  scroll-snap-type: x mandatory !important;
  width: 1160px !important;
  scrollbar-width: none !important;
  row-gap: 20px !important;
  scroll-snap-type: x mandatory !important;
  scroll-snap-align: start !important;
  overflow-x: hidden !important;
  max-width: 2400px !important;
  overflow-y: hidden !important;
  padding-right: 50px !important;
  scrollbar-width: none !important;
}
.ImagesAboutUs::-webkit-scrollbar {
  display: none;
}
.imagesaboutussa {
  scroll-snap-align: center !important;
  margin: 10px !important;
  height: 200px !important;
  border-radius: 10px !important;

  position: relative !important;
  width: 400px !important;
  object-fit: cover !important;
  /* animation-name: example; */
  background-color: aqua;
  /* animation-duration: 3s; */
  /* -webkit-animation: primary1 15s alternate infinite !important; */
}

.imagesaboutussa {
  animation-name: example;
  scroll-snap-align: start !important;
  animation-timing-function: ease-in-out !important;
  animation-duration: 15s !important;
  animation-direction: alternate !important;
  display: flex !important;
  position: relative !important;
  animation-iteration-count: infinite !important;
}
.ImagesAboutUs:hover .imagesaboutussa,
.ImagesAboutUs:active .imagesaboutussa {
  animation-play-state: paused;
}
@keyframes example {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1300px);
  }
}
.secondheaderaboutus {
  font-family: 'Inter', 'sans-serif' !important;
  font-size: 88px !important;
  font-weight: 700 !important;
  width: 459px !important;
  /* position: absolute;
left: 880px; */
  color: rgba(255, 255, 255, 0.06) !important;
  margin-top: 90px !important;
  /* top: 300px; */
  overflow: hidden;
}
@media (max-width: 1022px) {
  .secondheaderaboutus {
    display: none !important;
  }
}
.secondheaderaboutusBox {
  position: absolute;
  right: -140px;
  top: 10px;
}
@media (min-width: 1300px) {
  .secondheaderaboutusBox {
    right: 0px;
  }
}
