.MainGetingTouch {
  margin-top: 20px;
  margin-bottom: 10px;
}
.MainGetingTouch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.firstBoxGETINTOUCH {
  display: flex;
  gap: 20px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.MainGetingTouch {
  margin-top: 30px;
  /* border-bottom:1px solid; */
}
.MainGetingTouch .nessageinput, .MainGetingTouch .emailinput {
  display: grid;
  grid-template-columns: .3fr 1fr;
  gap: 10px;
  font-weight: 600;
}
.MainGetingTouch .emailinput{
  align-items: center;
  font-weight: 600;
}
@media (max-width:1022px) {
  
.MainGetingTouch .nessageinput, .MainGetingTouch .emailinput {
  grid-template-columns:  1fr;
  
}
}
.buttonSubmit:hover{
color: white !important;
background-color: #313c8e !important;
}